<?xml version="1.0"?>

<config>
	<modules>
		<Inchoo_Ticketmanager>
			<version>1.0.5</version>
		</Inchoo_Ticketmanager>
	</modules>
	<global>
		<models>
			<inchoo_ticketmanager>
				<class>Inchoo_Ticketmanager_Model</class>
				<resourceModel>res</resourceModel>
			</inchoo_ticketmanager>
			<res>
				<class>Inchoo_Ticketmanager_Model_Resource</class>
				<entities>
					<ticket>
						<table>inchoo_ticketmanager_ticket</table>
					</ticket>
                    <reply>
                        <table>inchoo_ticketmanager_reply</table>
                    </reply>
				</entities>
			</res>
		</models>
        <helpers>
            <inchoo_ticketmanager>
                <class>Inchoo_Ticketmanager_Helper</class>
            </inchoo_ticketmanager>
        </helpers>
        <blocks>
            <inchoo_ticketmanager>
            	<class>Inchoo_Ticketmanager_Block</class>
            </inchoo_ticketmanager>
        </blocks>
        <resources>
            <inchoo_ticketmanager_setup>
                <setup>
                    <module>Inchoo_Ticketmanager</module>
                </setup>
            </inchoo_ticketmanager_setup>
        </resources>
        <events>
            <before_ticket_item_displayed>
                <observers>
                    <inchoo_ticketmanager>
                        <class>inchoo_ticketmanager/observer</class>
                        <method>beforeTicketDisplayed</method>
                    </inchoo_ticketmanager>
                </observers>
            </before_ticket_item_displayed>
        </events>
        <template>
            <email>
                <inchoo_ticketmanager_ticket_posted_email module="inchoo_ticketmanager" translate="label">
                    <label>New Ticket Email to Admin</label>
                    <file>ticketmanager_new_ticket_email_admin.html</file>
                    <type>html</type>
                </inchoo_ticketmanager_ticket_posted_email>
                <inchoo_ticketmanager_admin_reply_email module="inchoo_ticketmanager" translate="label">
                    <label>New Reply Email to Admin</label>
                    <file>ticketmanager_new_reply_email_admin.html</file>
                    <type>html</type>
                </inchoo_ticketmanager_admin_reply_email>
                <inchoo_ticketmanager_customer_reply_email module="inchoo_ticketmanager" translate="label">
                    <label>New Reply Email to Customer</label>
                    <file>ticketmanager_new_reply_email_customer.html</file>
                    <type>html</type>
                </inchoo_ticketmanager_customer_reply_email>
            </email>
        </template>
	</global>
    <frontend>
        <routers>
            <inchoo_ticketmanager>
                <use>standard</use>
                <args>
                    <module>Inchoo_Ticketmanager</module>
                    <frontName>ticket</frontName>
                </args>
            </inchoo_ticketmanager>
        </routers>
        <translate>
            <modules>
                <Inchoo_Ticketmanager>
                    <files>
                        <default>Inchoo_Ticketmanager.csv</default>
                    </files>
                </Inchoo_Ticketmanager>
            </modules>
        </translate>
        <layout>
            <updates>
                <inchoo_ticketmanager>
                    <file>inchoo_ticketmanager.xml</file>
                </inchoo_ticketmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inchoo_Ticketmanager after="Mage_Adminhtml">Inchoo_Ticketmanager_Adminhtml</Inchoo_Ticketmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <inchoo_ticketmanager>
                    <file>inchoo_ticketmanager.xml</file>
                </inchoo_ticketmanager>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <inchoo_ticketmanager_ticket>
            <view>
                <enabled>1</enabled>
                <items_per_page>10</items_per_page>
                <replies_per_page>10</replies_per_page>
                <edit_ticket_enabled>0</edit_ticket_enabled>
                <all_tickets_visible>0</all_tickets_visible>
                <can_reply_all>0</can_reply_all>
            </view>
        </inchoo_ticketmanager_ticket>
        <inchoo_ticketmanager_email_settings>
            <general>
                <enabled>1</enabled>
                <email_template>inchoo_ticketmanager_ticket_posted_email</email_template>
            </general>
            <new_ticket_email_settings>
                <enabled>1</enabled>
            </new_ticket_email_settings>
            <customer_reply_email_settings>
                <enabled>1</enabled>
                <email_template>inchoo_ticketmanager_customer_reply_email</email_template>
            </customer_reply_email_settings>
            <admin_reply_email_settings>
                <enabled>1</enabled>
                <replier_enabled>1</replier_enabled>
                <email_template>inchoo_ticketmanager_admin_reply_email</email_template>
            </admin_reply_email_settings>
        </inchoo_ticketmanager_email_settings>
    </default>
</config>