<?xml version="1.0"?>

<config>
	<modules>
		<Inchoo_Ticketmanager>
			<version>1.0.2</version>
		</Inchoo_Ticketmanager>
	</modules>
	<global>
		<models>
			<inchoo_ticketmanager>
				<class>Inchoo_Ticketmanager_Model</class>
				<resourceModel>res</resourceModel>
			</inchoo_ticketmanager>
			<res>
				<class>Inchoo_Ticketmanager_Model_Resource</class>
				<entities>
					<ticket>
						<table>inchoo_ticketmanager_ticket</table>
					</ticket>
                    <reply>
                        <table>inchoo_ticketmanager_reply</table>
                    </reply>
				</entities>
			</res>
		</models>
        <helpers>
            <inchoo_ticketmanager>
                <class>Inchoo_Ticketmanager_Helper</class>
            </inchoo_ticketmanager>
        </helpers>
        <blocks>
            <inchoo_ticketmanager>
            	<class>Inchoo_Ticketmanager_Block</class>
            </inchoo_ticketmanager>
        </blocks>
        <resources>
            <inchoo_ticketmanager_setup>
                <setup>
                    <module>Inchoo_Ticketmanager</module>
                </setup>
            </inchoo_ticketmanager_setup>
        </resources>
        <events>
            <before_ticket_item_displayed>
                <observers>
                    <inchoo_ticketmanager>
                        <class>inchoo_ticketmanager/observer</class>
                        <method>beforeTicketDisplayed</method>
                    </inchoo_ticketmanager>
                </observers>
            </before_ticket_item_displayed>
        </events>
	</global>
    <frontend>
        <routers>
            <inchoo_ticketmanager>
                <use>standard</use>
                <args>
                    <module>Inchoo_Ticketmanager</module>
                    <frontName>ticket</frontName>
                </args>
            </inchoo_ticketmanager>
        </routers>
        <translate>
            <modules>
                <Inchoo_Ticketmanager>
                    <files>
                        <default>Inchoo_Ticketmanager.csv</default>
                    </files>
                </Inchoo_Ticketmanager>
            </modules>
        </translate>
        <layout>
            <updates>
                <inchoo_ticketmanager>
                    <file>inchoo_ticketmanager.xml</file>
                </inchoo_ticketmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inchoo_Ticketmanager before="Mage_Adminhtml">Inchoo_Ticketmanager_Adminhtml</Inchoo_Ticketmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <inchoo_ticketmanager>
                    <file>inchoo_ticketmanager.xml</file>
                </inchoo_ticketmanager>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <ticket>
            <view>
                <enabled>1</enabled>
                <items_per_page>20</items_per_page>
            </view>
        </ticket>
    </default>
</config>