<?xml version="1.0"?>

<config>
    <tabs>
        <tickets translate="label" module="inchoo_ticketmanager">
            <label>Tickets</label>
            <sort_order>900</sort_order>
        </tickets>
    </tabs>
	<sections>
		<inchoo_ticketmanager_ticket translate="label">
			<class>separator-top</class>
			<label>Tickets</label>
			<tab>tickets</tab>
			<frontend_type>text</frontend_type>
			<sort_order>2</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>

			<groups>
				<view translate="label">
					<label>Ticket View Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enable Tickets On Frontend</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<items_per_page translate="label">
							<label>Tickets Per Page</label>
							<comment>Empty value is the same as default 20.</comment>
							<sort_order>30</sort_order>
							<depends><enabled>1</enabled></depends>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</items_per_page>
                        <replies_per_page translate="label">
                            <label>Replies Per Page</label>
                            <comment>Empty value is the same as default 20.</comment>
                            <sort_order>31</sort_order>
                            <depends><enabled>1</enabled></depends>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </replies_per_page>
                        <edit_ticket_enabled translate="label">
                            <label>Enable Editing of Existing Tickets</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <depends><enabled>1</enabled></depends>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </edit_ticket_enabled>
                        <all_tickets_visible translate="label">
                            <label>Visibility to other customers</label>
                            <frontend_type>select</frontend_type>
                            <comment>Customers can see each other's Tickets</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends><enabled>1</enabled></depends>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </all_tickets_visible>
                        <can_reply_all translate="label">
                            <label>Replies of other customers</label>
                            <frontend_type>select</frontend_type>
                            <comment>Customers can reply to each other's Tickets</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <enabled>1</enabled>
                                <all_tickets_visible>1</all_tickets_visible>
                            </depends>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </can_reply_all>
					</fields>
                </view>
			</groups>
		</inchoo_ticketmanager_ticket>
        <inchoo_ticketmanager_email_settings translate="label">
            <class>separator-top</class>
            <label>Ticket Email Settings</label>
            <tab>tickets</tab>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <general translate="label">
                    <label>General Email Settings</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Emails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <admin_email translate="label">
                            <label>Admin Email for Ticket Information</label>
                            <comment>Email address which receives emails regarding tickets</comment>
                            <validate>validate-email</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </admin_email>
                    </fields>
                </general>
                <new_ticket_email_settings translate="label">
                    <label>New Ticket Email Settings</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Send Email to Admin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Specifies whether Admin will receive an Email when a Customer posts a new Ticket</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <depends><enabled>1</enabled></depends>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template>
                    </fields>
                </new_ticket_email_settings>
                <customer_reply_email_settings translate="label">
                    <label>Customer's Email Settings on Reply</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Track their Tickets</label>
                            <frontend_type>select</frontend_type>
                            <comment>Specifies whether the Customer will receive an Email when their Ticket is replied</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <replier_enabled translate="label">
                            <label>Track replied Tickets</label>
                            <frontend_type>select</frontend_type>
                            <depends><enabled>1</enabled></depends>
                            <comment>Specifies whether the Customer will receive an Email when the Ticket they replied gets a new Reply</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </replier_enabled>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <depends><enabled>1</enabled></depends>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template>
                    </fields>
                </customer_reply_email_settings>
                <admin_reply_email_settings translate="label">
                    <label>Admin's Email Settings on Reply</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Send Email to Admin</label>
                            <frontend_type>select</frontend_type>
                            <comment>Specifies whether the Admin will receive an Email when a Customer replies to a Ticket</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <depends><enabled>1</enabled></depends>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template>
                    </fields>
                </admin_reply_email_settings>
            </groups>
        </inchoo_ticketmanager_email_settings>
	</sections>
</config>