<?xml version="1.0"?>
<config>
    <modules>
        <Changes_Catalog>
            <version>1.0</version>
        </Changes_Catalog>
    </modules>
    <global>
        <helpers>
            <catalog>
                <rewrite>
                    <product_compare>Changes_Catalog_Helper_Product_Compare</product_compare>
                </rewrite>
            </catalog>
        </helpers>
    </global>
</config>